%h4{ class: 'page-header' }
  = link_to_if can?(:edit_application, application), label_with_icon(get_model_name_for('ApplicationAddon'), 'fa-cube', fixed: true), addons_application_path(application)

- if application.addons.any?
  %ul{ class: 'list-group' }
    - application.addons.each do |addon|
      %li{ class: 'list-group-item' }
        %span{ class: 'mount-point' }= render_addon_with_icon(addon.name, addon.type)

- else
  = render_no_data
