%h4{ class: 'page-header' }= label_with_icon(get_model_name_for('ApplicationCredential'), 'fa-eye', fixed: true)

- if application.credentials.any?
  %ul{ class: 'list-group' }
    - application.credentials.each do |cred|
      %li{ class: 'list-group-item' }
        %span{ class: 'mount-point' }= render_credential(cred)

- else
  = render_no_data
