%h4{ class: 'page-header' }= label_with_icon(t('label.application_credential.plural'), 'fa-eye', fixed: true)

- if application.credentials.any?
  %ul{ class: 'list-group' }
    - application.credentials.each do |cred|
      %li{ class: 'list-group-item' }
        %span{ class: 'mount-point' }= render_credential(cred)

- else
  .alert{ class: 'alert-info dont-dismiss' }= t('label.application_credential.none_defined')
