%h4{ class: 'page-header' }
  = link_to_if can?(:edit_application, application), label_with_icon(t('.title'), 'fa-random', fixed: true), domain_names_application_path(application)

- if application.domain_aliases.any?
  %ul{ class: 'list-group' }
    - application.domain_aliases.each do |domain_alias|
      %li{ class: 'list-group-item' }
        %span{ class: 'mount-point' }= link_to_external domain_alias.domain_name

- else
  = render_no_data
