%h4{ class: 'page-header' }= label_with_icon(get_model_name_for('EnvVar'), 'fa-list-ul', fixed: true)

- if application.env_vars.any?
  %ul{ class: 'list-group' }
    - application.env_vars.each do |env_var|
      %li{ class: 'list-group-item' }
        %span{ class: 'mount-point' }= render_env_var(env_var)

- else
  = render_no_data
