%h4{ class: 'page-header' }
  = link_to_if can?(:manage_members, application), label_with_icon(get_model_name_for('Member'), 'fa-users', fixed: true), application_members_path(application)

- if application.users_by_role.any?
  %dl{ class: 'dl-horizontal' }
    - application.users_by_role.keys.sort.each do |role|
      %dt= role.to_s + ' :'
      %dd= application.users_by_role[role].uniq.sort.join(", ")
- else
  = render_no_data(type: :warning)
