%td= link_to object.application, application_path(object.application)
%td= object.roles.uniq.sort.collect(&:to_s).join(', ')
%td.actions
  = smart_listing_item_actions [ { name: :edit, url: edit_admin_user_membership_path(object.enrolable, object), icon: 'fa fa-lg fa-fw fa-pencil' },
    { name: :destroy, url: admin_user_membership_path(object.enrolable, object), if: object.deletable?, icon: 'fa fa-lg fa-fw fa-trash-o', confirmation: t('text.are_you_sure') } ]
