%td= link_to membership.application, application_path(membership.application)
%td= membership.roles.uniq.sort.collect(&:to_s).join(', ')
%td.actions
  = smart_listing_item_actions [ { name: :edit, url: edit_admin_user_membership_path(membership.enrolable, membership), icon: 'fa fa-lg fa-fw fa-pencil' },
    { name: :destroy, url: admin_user_membership_path(membership.enrolable, membership), if: membership.deletable?, icon: 'fa fa-lg fa-fw fa-trash-o', confirmation: t('text.are_you_sure') } ]
