= content_for :title, label_with_icon(t('.title'), 'fa-cube')

= bootstrap_form_for addon,
                     url:    add_addon_application_path(application),
                     html:   { method: :post, remote: true } do |f|

  .flash-messages

  = f.collection_select :addon_id, Addon.by_name, :id, :name, prompt: true
  = f.success
