= content_for :title, label_with_icon(t('.title'), 'fa-cube')

= bootstrap_form_for addon,
                     url:    add_addon_application_path(application),
                     html:   { method: :post, remote: true } do |f|

  .flash-messages

  = f.select :type, addons_available, prompt: true

  = f.success
