%fieldset.padded
  %legend= label_with_icon get_model_name_for('RepositoryCredential', pluralize: false), 'fa fa-key', bigger: false

  %div{ class: 'col-sm-offset-1 col-md-offset-1 col-sm-10 col-md-10', style: 'margin-bottom: 10px;' }
    = zero_clipboard_button_for('public_key')
    %span{ style: 'margin-left: 10px;' }= t('.desc') + ' :'

  %div{ class: 'col-sm-offset-1 col-md-offset-1 col-sm-10 col-md-10' }= text_area_tag :public_key, credential.public_key, disabled: true, rows: '5', class: 'public_key code'
