= render 'common/application_partial'

- if can?(:build_application, application)
  .row
    %div{ class: 'col-md-12' }= render 'applications/show/instructions', application: application, repository: application.local_repo

.row
  %div{ class: 'col-md-12' }= smart_listing_render(:releases)
