%ul{ class: 'list-unstyled list-inline' }
  - ServerRole.jbox_role_modules.each do |role|
    - present server, ServerModuleActivationPresenter, role do |presenter|
      %li{ class: presenter.module_css }
        %p{ class: 'text-center' }= presenter.module_link
        %p{ class: 'text-center' }= presenter.module_status
