- html_title get_model_name_for('Application')

.row
  %div{ class: 'col-md-12' }

    %h3{ class: 'page-header' }
      = render_crumbs
      %small
        (
        = button_refresh('getApplicationsStatus(); return false;')
        )
      %span{ class: 'pull-right' }= @applications.size

    #manage_applications= render 'list', applications: @applications
