= navbar container: false, static: :top, style: 'margin-bottom: 0;' do
  = navbar_header brand: t('the_jbox_deployer'), brand_link: root_path
  = render_navigation_menu(:topbar_right)
  = render 'layouts/common/navigation'
