- html_title @page_title

.row
  %div{ class: 'col-md-offset-1 col-md-10' }

    %h3{ class: 'page-header' }= render_crumbs

    = bootstrap_form_for @addon,
                         layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4 col-md-4",
                         url:    admin_addons_path,
                         html:   { method: :post } do |f|

      = render 'form', f: f
