#stages{ class: 'row' }
  %div{ class: 'col-md-12' }

    %h4{ class: 'page-header' }
      = label_with_icon(t('label.stage.plural'), 'fa-puzzle-piece', fixed: true)
      = button_add new_admin_platform_stage_path(platform)

    - stages.by_name.in_groups_of(3, false).each do |row_stage|

      .row

        - row_stage.each do |stage|

          %div{ class: 'col-md-4' }
            - present stage do |presenter|
              %h4{ class: 'page-header' }= presenter.edit_link
              = presenter.stage_infos
