- html_title t('label.ssh_public_key.plural')

.row
  %div{ class: 'col-md-offset-1 col-md-10' }

    %h3{ class: 'page-header' }= label_with_icon(t('label.ssh_public_key.plural'), 'octicon octicon-key', fixed: true)

    #ssh-public-keys= render partial: 'ssh_keys', locals: { ssh_keys: @ssh_keys, ssh_key_form: @ssh_key_form }
