- html_title get_model_name_for('SshPublicKey')

.row
  %div{ class: 'col-md-offset-1 col-md-10' }

    %h3{ class: 'page-header' }= label_with_icon(get_model_name_for('SshPublicKey'), 'octicon octicon-key', fixed: true)

    #ssh-public-keys= render 'ssh_keys', ssh_keys: @ssh_keys, ssh_key_form: @ssh_key_form
