- html_title get_model_name_for('SshPublicKey')

.row
  %div{ class: 'col-md-offset-1 col-md-10' }

    %h3{ class: 'page-header' }= label_with_icon(get_model_name_for('SshPublicKey'), 'octicon octicon-key', fixed: true)

    .alert{ class: 'alert-info dont-dismiss' }
      %span= label_with_icon(t('.help'), 'fa-info-circle')
      \:
      %span= t('.explanation')

    #ssh-public-keys= render 'index', ssh_keys: @ssh_keys, ssh_key: @ssh_key, user: @user
