= f.password_field :password, required: false unless f.object.generated?

.form-group
  %div{ class: 'col-sm-offset-2 col-sm-10', style: 'margin-bottom: 10px;' }
    = zero_clipboard_button_for('repository_credential_ssh_key_public_key')
    %span{ style: 'margin-left: 10px;' }= t('.desc') + ' :'

= f.text_area :public_key, required: false, disabled: true, control_col: 'col-sm-10', rows: '6', class: 'public_key'
