<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @user.full_name %> !</h4>
    <p>Your password has changed, here is the new one : <strong><%= @password %></strong></p>
    <p>To login to the site, just follow this link : <%= link_to @url, @url %>.</p>
    <p>For your information your username is : <strong><%= @user.email %></strong></p>
    <p>Have a great day!</p>
  </body>
</html>
