- if User.current.logged?
  #notifications{ style: 'display: none;', data: { url: my_notifications_path } }= render_user_subscribed_channels

#modal-holder

#footer{ class: 'footer' }
  .container
    %p{ class: 'text-muted' }
      &copy;
      = link_to 'JBox Web', 'http://www.jbox-web.com'
      2015
